#lgDemo {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 5px;
}
#lgDemo .item {
  padding: 10px;
  border: 1px solid #ddd;
}
/* #lgDemo .download {
    display: inline-block;
    margin-left: 90%;
  } */
.headDownload {
  display: flex;
}
#lgDemo .item:nth-child(odd) {
  background: #f7f7f7;
}

/* (B) TRANSFORM INTO GRID VIEW */
#lgDemo.grid {
  grid-template-columns: 33% 33% 33%;
}
#lgDemo.grid .item:nth-child(odd) {
  background: none;
}
